body
{
}
/*Points system table information*/
#points{
    text-align:center;
}
#points table{
    border:solid;
    border-color:black;
    border-width:2px;
    border-collapse:collapse;
    font-size:20px;
    margin:0 40px 0 10px;
    float:left;
}

    #points th {
        border: solid;
        border-color: black;
        border-width: 2px 1px;
        margin:0px;
        padding:20px 30px;
        background-color:black;
    }
    #points td {
    border: solid;
    border-color: black;
    border-width: 2px 1px;
    margin:0px;
    padding:10px 30px;
}
.bronze {
    background-color: #2a0911;
}
.silver {
    background-color: #400e1a;
}
.gold {
    background-color: #541222;
}
.plat {
    background-color: #69172a;
}
.dia {
    background-color: #7d1c32;
}
.op {
    background-color: #92203b;
}