
    <footer>
        <div id="container">
            <div id="flex">
                <div>
                    <h5>Tournament</h5>
                    <ul>
                        <li>
                            <a href="/prophecy/getstarted/tournament/playin.php">Format</a>
                        </li>
                        <li>
                            <a href="/prophecy/getstarted/tournament/rules.php">Rules</a>
                        </li>
                        <li>
                            <a href="/prophecy/getstarted/tournament/points.php">Points</a>
                        </li>
                        <li>
                            <a href="/prophecy/teams/">Standings</a>
                        </li>
                        <li>
                            <a href="/prophecy/teams/">BSG Standings</a>
                        </li>
                    </ul>

                </div>
                <div>
                    <h5>Community</h5>
                    <ul>
                        <li>Get Involved</li>
                        <li>
                            <a href="/prophecy/community/discordRultes.php">Discord Rules</a>
                        </li>
                        <li>
                            <a href="/prophecy/community/Inhouse.php">Inhouse</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h5>Contact Us</h5>
                    <ul>
                        <li>Appeals</li>
                        <li>Email</li>
                        <li>Discord</li>
                    </ul>
                </div>
            </div>
            <div id="disclaimer">
                <p id="copyright">Prophecy Cup &copy; 2018. All Rights Reserved</p>
                <p>
                    Prophecy Cup isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone
                    officially involved in producing or managing League of Legends. League of Legends and Riot Games are
                    trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                </p>
            </div>
        </div>
    </footer>
