
    <nav>
        <div class="mainwrapper">
            <ul class="nav">
                <li>
                    <a class="logo" href="/prophecy/">
                        <img src="/prophecy/images/logosmall.gif" alt="logo" />
                    </a>
                </li>
                <li>
                    <a class="menu" href="" data-flexmenu="flexmenu1">
                        Get Started
                        <img src="/prophecy/images/arrow.gif" alt="arrow button" />
                    </a>
                </li>
                <li>
                    <a class="menu" href="/prophecy/teams/" data-flexmenu="flexmenu2">Standings</a>
                </li>
                <li>
                    <a class="menu" href="">Recaps</a>
                </li>
                <li>
                    <a class="menu" href="" data-flexmenu="flexmenu3">Admin</a>
                </li>
            </ul>
            <ul class="socialmedia">

                <li>
                    <a href="https://www.instagram.com/prophecy_cup/">
                        <img src="/prophecy/images/social/instagram.gif" alt="instagram" />
                    </a>
                </li>
                <li>
                    <a href="https://www.reddit.com/r/ProphecyCup/">
                        <img src="/prophecy/images/social/reddit.png" alt="reddit" />
                    </a>
                </li>
                <li>
                    <a href="https://www.twitch.tv/prophecy_cup/">
                        <img src="/prophecy/images/social/twitch32.png" alt="twitch" />
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCgv5aZT4qxUsA7_jY2-XdbA?view_as=subscriber">
                        <img src="/prophecy/images/social/youtube.png" alt="youtube" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/prophecycup/">
                        <img src="/prophecy/images/social/facebook.png" alt="facebook" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/prophecy_cup">
                        <img src="/prophecy/images/social/twitter.png" alt="twitter" />
                    </a>
                </li>
                <li>
                    <a href="https://discord.gg/F5tBGqs">
                        <img src="/prophecy/images/social/discord.png" alt="discord" />
                    </a>
                </li>

            </ul>
            <div id="login">
                <a href=""><img src="/prophecy/images/social/discordlogin.png" alt="discord" /> Login</a>
            </div>
        </div>
    </nav>

    <ul id="flexmenu1" class="ddsubmenustyle">
        <li>
            <a href="/prophecy/getstarted/about">About</a>
        </li>
        <li>
            <a href="#">Tournament</a>
            <ul>
                <li>
                    <a href="/prophecy/getstarted/tournament/playin.php">Format</a>
                </li>
                <li>
                    <a href="/prophecy/getstarted/tournament/rules.php">Rules</a>
                </li>
                <li>
                    <a href="/prophecy/getstarted/tournament/points.php">Point System</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Community</a>
            <ul>
                <li>
                    <a href="/prophecy/getstarted/community/discordRules.php">Discord Rules</a>
                </li>
                <li>
                    <a href="/prophecy/getstarted/community/inhouse.php">Inhouse Ladder + Rules</a>
                </li>
            </ul>
        </li>
    </ul>

    <!--admin sub menu-->
    <ul id="flexmenu3" class="ddsubmenustyle">
        <li>
            <a href="/prophecy/forms/announcements.php">Annoucnements</a>
        </li>
        <li>
            <a href="/prophecy/forms/matches.php">Matches</a>
        </li>

    </ul>
